<div>
    <div class="bg-light">
        <h3>Simple OpenVPN Server on Mikrotik</h3>
        <p> Having OpenVPN server on your router is a niftyfeature. However, as often with Mirotik, not all is straight forward. This guide is going to
            assume you are to enter commands into the New Terminal window from WinBox. That way I will
            simply repeat commands needed instead of going through the screens. Commands are actually
            quite descriptive and easy to “translate” into GUI actions if that is your preference.
        </p>
        <p>
            Prerequisite for any VPN server is to get certificates sorted. For OpenVPN we need main
            Certificate Authority, server, and client certificate. Yes, strictly speaking, client
            certificate is optional but let’s not skimp on security. 
        </p>
        <p>
            First we create all the certificate templates (10 years validity) we’ll need:
        </p>
        <a href="https://www.medo64.com/2016/12/simple-openvpn-server-on-mikrotik/">Continues at Medo's..</a>
    </div>
    <div>
        <h3>About Mikrotik</h3>
        <p>MikroTik is a Latvian company which was founded in 1996 to develop routers and wireless ISP systems.
            MikroTik now provides hardware and software for Internet connectivity in most of the countries around
            the world. Mikrotik's experience in using industry standard PC hardware and complete routing systems allowed
            it in 1997 to create the RouterOS software system that provides extensive stability, controls, and
            flexibility for all kinds of data interfaces and routing. In 2002 Mikrotik decided to make it's own hardware,
            and the RouterBOARD brand was born. The Mikrotik have resellers in most parts of the world, and customers in
            probably every country on the planet, the company is located in Riga, the capital city of Latvia and
            has more than 280 employees.
        </p>
        <strong>Source: </strong><a href="https://mikrotik.com/aboutus">Mikrotik</a>
    </div>    
    <div class="mt-2 bg-light">
        <h3>Virtual Private Network VPN</h3>
        <p>
            A virtual private network (VPN) extends a private network across a public network and enables users
            to send and receive data across shared or public networks as if their computing devices were directly
            connected to the private network. Applications running on an end system (PC, smartphone etc.) across a
            VPN may therefore benefit from the functionality, security, and management of the private network.
            Encryption is a common, though not an inherent, part of a VPN connection.
        </p>
        <p>
            VPN technology was developed to allow remote users and branch offices to access corporate applications
            and resources. To ensure security, the private network connection is established using an encrypted
            layered tunneling protocol, and VPN users use authentication methods, including passwords or certificates,
            to gain access to the VPN. In other applications, Internet users may secure their connections with a VPN
            to circumvent geo-restrictions and censorship or to connect to proxy servers to protect personal identity
            and location to stay anonymous on the Internet. Some websites, however, block access to known VPN
            technology to prevent the circumvention of their geo-restrictions, and many VPN providers have been
            developing strategies to get around these roadblocks.
        </p>
        <p>
            A VPN is created by establishing a virtual point-to-point connection through the use of dedicated
            circuits or with tunneling protocols over existing networks. A VPN available from the public Internet
            can provide some of the benefits of a wide area network (WAN). From a user perspective, the resources
            available within the private network can be accessed remotely.
        </p>
        <strong>Source: </strong><a href="https://en.wikipedia.org/wiki/Virtual_private_network">Wikipedia</a>
    </div> 
    <div>
        <h3>The risks of public Wi-Fi</h3>
        <h6>What are the risks?</h6>
        <p>
            The problem with public Wi-Fi is that there are a tremendous number of risks that go along with
             these networks. While business owners may believe they’re providing a valuable service to their
              customers, chances are the security on these networks is lax or nonexistent.
        </p>
        <h6>Man-in-the-Middle attacks</h6>
        <p>
            One of the most common threats on these networks is called a Man-in-the-Middle (MitM) attack.
             Essentially, a MitM attack is a form of eavesdropping. When a computer makes a connection to
              the Internet, data is sent from point A (computer) to point B (service/website),
               and vulnerabilities can allow an attacker to get in between these transmissions and “read”
                them. So what you thought was private no longer is.
        </p>
        <h6>Unencrypted networks</h6>
        <p>
            Encryption means that the information that is sent between your computer and the wireless
             router are in the form of a “secret code,” so that it cannot be read by anyone who doesn’t
              have the key to decipher the code. Most routers are shipped from the factory with encryption
               turned off by default, and it must be turned on when the network is set up. If an IT 
               professional sets up the network, then chances are good that encryption has been enabled. 
               However, there is no surefire way to tell if this has happened.
        </p>
        <strong>Source: </strong><a href="https://us.norton.com/internetsecurity-privacy-risks-of-public-wi-fi.html">Norton</a>
    </div>   
</div>
