<div id="lateral_esquerda">
  <div>
    <h3>Useful links</h3>
    <a class="d-block mt-1" href="https://logico.ar/blog/2020/03/16/home-office-con-openvpn-y-mikrotik">
      Home office con OpenVPN y Mikrotik. - logico.ar
    </a>
    <a class="d-block mt-1" href="https://www.medo64.com/2016/12/simple-openvpn-server-on-mikrotik/">
      How to configure simple OpenVPN Server - Medo64.com
    </a>   
    <a class="d-block mt-1" href="https://www.cloudzat.com/vpn-virtual-private-networks/">
     Complete guide to VPN Cloudzat
    </a>  
    <a class="d-block mt-1" href="https://whatismyipaddress.com/">What is my IP?</a>    
    <a class="d-block mt-1" href="https://www.yougetsignal.com/tools/open-ports/">Port tester</a>
  </div> 
  <div>
    <h3>Downloads</h3>
    <a class="d-block mt-1" href="https://openvpn.net/community-downloads/">OpenVPN Community Downloads</a>
    <h6>OpenVPN <span class="badge badge-pill badge-warning">2.4.8</span></h6>
    <a class="d-block mt-1" href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.8-I602-Win7.exe">
      Windows 7/8/8.1/Server 2012R2
    </a>
    <a class="d-block mt-1" href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.8-I602-Win10.exe">
      Windows 10/Server 2016/2019
    </a>
    <h6>OpenVPN <span class="badge badge-pill badge-warning">2.4.7</span></h6>
    <a class="d-block mt-1" href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.7-I607-Win7.exe">
      Windows 7/8/8.1/Server 2012R2
    </a>
    <a class="d-block mt-1" href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.7-I607-Win10.exe">
      Windows 10
    </a>
    <a class="d-block mt-1"  href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.7-I603.exe">
      Windows Server 2016
    </a>
    <h6>OpenVPN <span class="badge badge-pill badge-warning">2.4.6</span></h6>
    <a class="d-block mt-1" href="https://swupdate.openvpn.org/community/releases/openvpn-install-2.4.6-I602.exe">
      Windows installer
    </a>
  </div>  
  <!-- <a href="">OpenVPN 2.4.7</a>
  <a href="">OpenVPN 2.4.6</a> -->
</div>
