<!-- Plugin Facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0"></script>
<!-- BOOTSTRAP -->
<script src="/scripts/jquery-3.4.1.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src="/scripts/bootstrap/bootstrap.min.js"></script>
<!-- SCRIPT DO SITE -->
<script src="/scripts/script.js"></script>
<script src="/scripts/FileSaver.js"></script>