<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Mikrotik OpenVPN Config Generator</title>
</head>
<body>
    <%-include('partials/menu')%>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <h1>Reset password</h1>
                <% if (!emailSent){ %>
                    <form  id="createAccountForm" action="/user/resetpassword" method="POST">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" type="text" class="form-control" name="email">
                        </div>                    
                        <input class="btn btn-block btn-primary my-3" type="submit" value="Send e-mail">
                    </form>
                <% } else { %>
                    <h5 class="m-3">An E-mail was sent, please check your inbox</h5>
                    <a href="/user/login">Login page</a>
                <% } %>                
            </div>
        </div>
    </div>
    <%-include('partials/scripts')%>
    <script>
        $("#alert").hide();
        $("#createAccountForm").submit(function(e){
            e.preventDefault();
            let password = $("#password").val();
            let confirmPassword = $("#confirmPassword").val();
            console.log(password, confirmPassword)
            if (password == "" || (password != confirmPassword && password != "")){
                $("#alert").show();
            }
            else{
                document.forms[0].submit();
            }
        })
    </script>
    
</body>
</html>