<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Mikrotik OpenVPN Config Generator</title>
</head>
<body>
    <%-include('partials/menu')%>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <h1>Reset password</h1>
                <% if (expired) {%>
                    <h5 class="mt-5">Link expired</h5>
                    <a href="/user/resetpassword/">Send e-mail again</a>
                <% } else if (reseted) {%>   
                    <h5 class="mt-5">Password has been reseted</h5>
                    <a href="/user/login">Login</a>
                <% } else { %>
                    <form  id="createAccountForm" action="/user/resetpasswordlaststage/<%= token %>" method="POST">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input id="password" type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input id="confirmPassword" type="password" class="form-control">
                        </div>
                        <div id="alert" class="alert alert-danger alert-dismissible fade show hide" role="alert">
                            Passwords blank or don't match
                            <button type="button" class="close" onclick="$('#alert').hide();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input class="btn btn-block btn-primary my-3" type="submit" value="Save password">
                    </form>
                <% } %>                
            </div>
        </div>
    </div>
    <%-include('partials/scripts')%>
    <script>
        $("#alert").hide();
        $("#createAccountForm").submit(function(e){
            e.preventDefault();
            let password = $("#password").val();
            let confirmPassword = $("#confirmPassword").val();
            console.log(password, confirmPassword)
            if (password == "" || (password != confirmPassword && password != "")){
                $("#alert").show();
            }
            else{
                document.forms[0].submit();
            }
        })
    </script>
    
</body>
</html>