<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('partials/head')%>
  <title>About - Mikrotik OpenVPN Config Generator</title>
</head>

<body>
  <%-include('partials/menu')%>
  <div class="container-fluid bg-light my-auto">
    <div class="row align-items-center justify-content-center p-2">
      <div class="col-12 col-sm-10 col-md-8 text-center">
        <h1 class="display-4">Mikrotik OpenVPN Config Generator</h1>
        <div >
          <p>WebSite developed by Deyvisson Breno</p>
          <p>E-mail: contact@ovpnconfig.com.br</p>
        </div>
      </div>
        
    </div>
  </div>
  <%-include('partials/scripts')%>
</body>

</html>